/*==================================
=            Navigation            =
==================================*/
nav {
    background: rgba(0,0,0, .6);
    width: 100%;
    height: 60px;
    z-index: 999;
    position: relative;
}

@media screen and (max-width: 640px) {
    nav {
        height: auto;
        min-height: 60px;
        padding: 20px 0;
    }
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
    text-align: center;
}

@media screen and (max-width: 640px) {
    nav ul {
        padding: 0;
    }
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-of-type {
    margin-right: 0;
}

nav ul li a {
    color:$white;
    text-decoration: none;
    text-shadow: 0 0 0$white;
    transition: text-shadow .2s;
}

nav ul li a:hover {
    text-shadow: 0px 0px 10px$white;
    transition: text-shadow .2s;
}

nav aside {
    position: absolute;
    right: 0;
    top: 20px;
}

@media screen and (max-width: 640px) {
    nav aside {
        position: static;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}

nav aside span {
    font-size: 14px;
    color:$white;
}

nav aside span img {
    display: inline-block;
    margin-left: 10px;
    vertical-align: sub;
}
