// @mixin text-small() {
//   font-size: 1.2rem;
//   line-height: 1.25;

//   @include breakpoint($medium) {
//     line-height: 1.375;
//   }
// }

// @mixin text-medium() {
//   font-size: 1.6rem;
//   line-height: 1.25;

//   @include breakpoint($medium) {
//     line-height: 1.375;
//   }
// }

// @mixin heading-small() {
//   font-size: 1.8rem;
//   line-height: 1.1;

//   @include breakpoint($medium) {
//     line-height: 1.22;
//   }
// }

// @mixin heading-medium() {
//   font-size: 2.2rem;
//   line-height: 1.13636364;

//   @include breakpoint($medium) {
//     font-size: 2.4rem;
//     line-height: 1.25;
//   }

//   @include breakpoint($x-large) {
//     font-size: 2.8rem;
//   }
// }

// @mixin heading-large() {
//   font-size: 2.6rem;
//   line-height: 1.15384615;

//   @include breakpoint($medium) {
//     font-size: 3.2rem;
//     line-height: 1.25;
//   }

//   @include breakpoint($x-large) {
//     font-size: 3.6rem;
//   }
// }

// @mixin heading-x-large() {
//   font-size: 3.2rem;
//   line-height: 1.25;

//   @include breakpoint($medium) {
//     font-size: 4rem;
//   }

//   @include breakpoint($x-large) {
//     font-size: 4.8rem;
//     line-height: 1.05;
//   }
// }
