@import 'u-visually-hidden';


/*===============================
=            buttons            =
===============================*/

.btn,
button,
input[type="submit"] {
    background: $blue;
    height: 35px;
    padding: 10px $gutter;
    display: inline-block;
    cursor: pointer;
    border: 0;
    color: $white;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .2s;
}

.btn:hover,
button:hover,
input[type="submit"]:hover {
    background: $bg;
    transition: background .2s;
}

/*==============================
=            inputs            =
==============================*/

input[type="text"],
input[type="email"],
input[type="password"] {
    background: $white;
    width: 100%;
    height: 34px;
    border: 1px solid $gray;
    color: $black;
    outline: none;
    padding: 0 10px;
    font-size: 12px;
    transition: border-color .2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color:  $blue;
    transition: border-color .2s;
}

input.error {
    border-color: $error;
}

label {
    margin-bottom: 5px;
    display: block;
}