/*==================================
=            Typography            =
==================================*/

h1 {
    margin: 0;
    color: $black;
}

h1 + span {
    display: block;
    margin-bottom: $spacer;
}

h1 + table,
h1 + .row {
    margin-top: $spacer;
}

article {
    color: $black;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray;
    margin-bottom: $gutter;
}

article:last-of-type {
    margin-bottom: 0;
}

article h2 {
    margin: 0 0 5px 0;
}

article time {
    font-size: 12px;
}

article a {
    color: $blue;
    text-decoration: none;
}