<template>
  <div class="content">
    <h1>Clan rankings</h1>
    <span>Top 50 clans</span>

    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <th>Rank</th>
        <th>Clan name</th>
        <th>Slogan</th>
        <th>Grade</th>
      </tr>
      <tr v-for="(i, index) in clans">
        <td>#{{ index + 1 }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.slogan }}</td>
        <td>{{ i.grade }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'clans',

    data() {
      return {
        clans: [],
      }
    },

    mounted () {
      this.$http
        .get('/clans')
        .then(response => {
          this.clans = response.data
        });
    },

  }
</script>
