<template>
  <div class="content">
    <article v-for="i in news">
      <h2>{{ i.title }}</h2>
      <time><b>Date:</b> {{ i.date }} - <b>Author:</b> {{ i.author }}</time>
      <p>
        <img :src="'https://cms.playroseonline.eu/images/uploads/' + i.thumbnail " alt="">
        {{ i.content }}
      </p>
      <a href="#">Read more&hellip;</a>
    </article>
  </div>
</template>

<script>
export default {
  name: 'home',

  data() {
    return {
      news: [],
    }
  },

  mounted() {
    this.$http
      .get('/')
      .then(response => {
        this.news = response.data
      });
  },
}
</script>

<style lang="scss">
  article {
    display: block;
    margin-bottom: 20px;

    &:after {
      content: "";
      clear: both;
      display: table;
    }

    h2 {
      font-size: 1.5rem;
    }

    time,
    span.author {
      font-size: $font-size;
      display: block;
    }

    img {
      max-width: 200px;
      float: left;
      margin-right: 10px;
    }

    p {
      margin: 15px 0;
    }
  }
</style>