<template>
  <div class="content">
    <h1>Rose Online Europe Rankings</h1>
    <span>Live update every page refresh</span>

    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Level</th>
      </tr>

      <tr v-for="(i, index) in ranks">
        <td>#{{ index + 1 }}</td>
        <td>{{ i.char_name }}</td>
        <td>{{ i.level }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'ranks',

    data() {
      return {
        ranks: [],
      }
    },

    mounted() {
      this.$http
        .get('/rankings')
        .then(response => {
          this.ranks = response.data
        });
    }

  }
</script>