<template>
  <div class="content">
    <h1>Create account</h1>

    <div class="row error" v-if="error.length">
      <span v-if="error.includes('passwordMatch')">Passwords do not match!</span>
      <span v-if="error.includes('passwordLength')">Your password needs a minimal of 6 characters</span>
      <span v-else-if="error.includes('usernameLength')">Username needs a minimal of 3 characters</span>
      <span v-else-if="error.includes('usernameExists')">Username is already taken!</span>
      <span v-else-if="error.includes('emailRegex')">Please enter a valid e-mail</span>
      <span v-else-if="error.includes('emailExists')">Email is already taken</span>
    </div>

    <form action="#" method="POST" v-on:submit="createAccount" novalidate="">
      <div class="row">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" v-model="username" :class="{ error: error.includes('usernameLength') || error.includes('usernameExists') }">
      </div>

      <div class="row">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" v-model="email" :class="{ error: error.includes('emailRegex') || error.includes('emailExists') }">
      </div>

      <div class="row">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" v-model="password" :class="{ error: error.includes('passwordLength') || error.includes('passwordMatch') }">
      </div>

      <div class="row">
        <label for="passwordrepeat">Password (repeat)</label>
        <input type="password" name="passwordrepeat" id="passwordrepeat" v-model="passwordRepeat" :class="{ error: error.includes('passwordLength') || error.includes('passwordMatch') }">
      </div>

      <div class="row">
        <button type="submit">Create account</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'register',

  data() {
    return {
      username: '',
      email: '',
      password: '',
      passwordRepeat: '',

      error: [],
      emailRegex: /^[\w.%+-]+@[\w.-]+\.[\w]{2,6}$/,
    }
  },

  methods: {
    createAccount: function(e) {
      e.preventDefault();

      /* Clear errors everytime the form submits */
      this.error = [];

      if(this.username <= 3) {
        this.error.push('usernameLength');
      } else if(!this.email.match(this.emailRegex)) {
        this.error.push('emailRegex')
      } else if(this.password !== this.passwordRepeat) {
        this.error.push('passwordMatch')
      } else if(this.password.length < 6 && this.passwordRepeat.length < 6) {
        this.error.push('passwordLength')
      }

      if(!this.error.length) {
        this.$http
          .post('/createAccount', {'username': this.username, 'email': this.email, 'password': this.password})
          .then(response => {
            response.data

            if(response.data.errorUsername) {
              this.error.push('usernameExists');
            } else if(response.data.errorEmail) {
              this.error.push('emailExists');
            }
          })
      }
    }
  }
}
</script>
