<template>
  <div class="content">
    <h1>Rose Online Europe Statistics</h1>
    <span>Live update every page refresh</span>

    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <th>Stats</th>
        <th>Numbers</th>
      </tr>

      <tr v-for="i in stats">
        <td>Total players</td>
        <td>{{ i }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'stats',

    data() {
      return {
        stats: [],
      }
    },

    mounted() {
      this.$http
        .get('/stats')
        .then(response => {
          this.stats = response.data
        });
    }

  }
</script>