<template>
  <header>
    <nav id="nav">
      <div class="container">
        <ul>
          <li><router-link to="/">Home</router-link></li>
          <li><router-link to="/stats">Stats</router-link></li>
          <li><router-link to="/rankings">Rankings</router-link></li>
          <li><router-link to="/clans">Clans</router-link></li>
        </ul>

        <aside>
          <span>Server status <img src="../../src/assets/icons/server_online.svg" alt="Online"></span>
        </aside>
      </div>
    </nav>
  </header>
</template>

<script>
  export default {
    name: 'navigation'
  }
</script>