<template>
    <aside>
      <div class="button">
        <a href="https://playroseonline.eu/European-Rose-v437.zip">
          <img src="../../src/assets/btn_download.png" alt="Download EU-Rose">
        </a>
      </div>

      <div class="button">
        <router-link to="/register">
          <img src="../../src/assets/btn_register.png" alt="Create account">
        </router-link>
      </div>

      <div class="login">
        <div class="row"><input type="text" placeholder="Username"></div>
        <div class="row"><input type="password" placeholder="*****"></div>
        <div class="row"><button type="submit" class="right">Login</button></div>
      </div>
    </aside>
</template>

<script>

export default {
  name: 'sidebar',
}
</script>

<style lang="scss">

</style>
