<template>
  <div id="app">
      <!-- Open graph metadata -->
<!--       <meta property="og:title" content="Rose Online Europe Online"/>
      <meta property="og:url" content="https://playroseonline.eu/"/>
      <meta property="og:image" content="@/assets/og_image.jpg"/>
      <meta property="og:site_name" content="Rose Online Europe Online"/>
      <meta property="og:description" content="A brand new European Rose Online server!"/>
      <meta property="og:type" content="website"/> -->

      <video autoplay muted loop class="videoBackground">
        <source src="@/assets/teaser-360p.mp4" type="video/mp4">
      </video>
      <div class="overlay"></div>

      <Navigation></Navigation>

      <img src="@/assets/roselogo.png" alt="Rose Online Europe" class="logo">

      <main>
        <div class="container grid">
          <router-view/>
          <Sidebar></Sidebar>
        </div>
      </main>

  </div>
</template>

<script>
  import Sidebar from '@/components/Sidebar.vue'
  import Navigation from '@/components/Navigation.vue'

  export default {
    components: {
      Sidebar,
      Navigation,
    },
  }
</script>

<style lang="scss">
  @import '@/scss/base.scss';

  .overlay {
    background: rgba(0,0,0, .6);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 10;
  }

  .videoBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 5;
  }

  img.logo {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
  }
</style>
