@import 'base/reset';
@import 'base/typography';
@import 'sections/header';
@import 'sections/nav';
@import 'utilities/utilities';
@import 'animations/animations';


/*=============================
=          Fonts import       =
=============================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
    box-sizing: border-box;
}

body {
    background: $bg url('../src/assets/bg.jpg') top no-repeat;
    background-position-y: -50px;
    font: $font-size $font-family;
    color: $black;
}

main {
    position: relative;
    z-index: 999;
    padding: $spacer 0;
    margin-top: 400px;
}

@media screen and (max-width: 640px) {
    main {
        margin-top: 300px;
    }
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    padding: 0 $spacer;
}

.container.grid {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 10px;
}

@media screen and (max-width: 640px) {
    .container.grid {
        grid-template-columns: 1fr;
    }

    .container.grid aside {
        grid-row-start: 1;
    }
}

.container.grid aside .button {
    width: 100%;
    height: 125px;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 0 0 $bg;
    transition: box-shadow .2s
}

.container.grid aside .button:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 640px) {
    .container.grid aside .button {
        text-align: center;
    }
}


.container.grid aside .button:hover {
    box-shadow: 0px 0px 15px $blue;
    transition: box-shadow .2s;
}

.container.grid aside .login {
    background: $white;
    padding: $spacer;
}

.container.grid aside .login:after {
  content: "";
  display: table;
  clear: both;
}

.content {
    background: $white;
    padding: $spacer;
}

.content:before {
    content: "";
    width: 304px;
    height: 243px;
    background-image: url('../src/assets/content_top.png');
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: -243px;
    left: $spacer;
}

@media screen and (max-width: 640px) {
    .content:before {
        display: none;
    }
}

.row {
    display: block;
    margin-bottom: 10px;
}

.row.error {
    color: $error;
}

.right {
    float: right;
}

/*===================================================
=            Table styling for stats etc            =
===================================================*/

table {
    width: 100%;
    border: 1px solid $gray;
    text-align: left;
}

table + table {
    margin-top: $spacer;
}

table th,
table td {
    padding:  10px;
}

table th {
    background: $gray;
}
