// // Typefaces
// $arial: 'Arial', sans-serif;

// // text sizes
// $text-x-large: 3.4rem;
// $text-large: 2.4rem;
// $text-medium: 2rem;
// $text-small: 1.8rem;
// $text-x-small: 1.5rem;

// // // Global
// // $primary-font: $arial;
// // $primary-font-color: $black;
// // $primary-link-color: $gold;
