/*=================================
=            Variables            =
=================================*/
    $font-family: 'Open Sans', sans-serif;
    $font-size: 14px;
    $light: 300;
    $normal: 400;
    $semi-bold: 600;
    $bold: 700;

    /* colors */
    $bg: #011D32;
    $black: #474444;
    $blue: #09A9E3;
    $white: #f3f3f3;
    $gray: #C1C1C1;
    $error: #EC6676;

    /* Spacers */
    $spacer: 20px;
    $gutter: 30px;